<!DOCTYPE html>
<html>
<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        /* Add your styles here */
    </style>
</head>
<body>

<div class="navbar">
    <img src="/assets/images/camera lens illustration logo design.png" alt="Logo" class="logo1">
    <h1>Video Management System</h1>
</div>

<div class="main">
    <div class="logo">
        <h2>Video Management System</h2>
    </div>
    <div class="signin">
        <h1>Reset Password</h1>
        <form (submit)="submitForm()">
            <!-- Other form elements... -->
            <label>New Password</label>
            <div class="icon-container">
                <i class="fas fa-unlock-alt"></i>
                <input name="new_password" [(ngModel)]="new_password" type="password" placeholder="Enter new password" required>
            </div>
            <div class="submit-container">
                <button type="submit">Submit</button>
            </div>
        </form>
        
    </div>
</div>

</body>
</html>